service vendor.qti.vibrator /vendor/bin/hw/vendor.qti.hardware.vibrator.service
    class hal
    user system
    group system input wakelock
    capabilities BLOCK_SUSPEND

on late-init
    write /sys/class/leds/vibrator/trigger "transient"
